@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			color: #fff
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1

.logo
	img
		width: 125px
		height: auto
		margin-left: 45px

.phone
	position: absolute
	right: 85px
	top: 44px
	font-family: firasans, serif
	font-size: 22px
	white-space: nowrap
	.fa
		color: #555555
		font-size: 22px
		margin-right: 3px


section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.hamburger
	position: absolute
	right: 0
	top: 30px
	.hamburger-box
		width: 34px
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			border-radius: 0
			background-color: #fff
			width: 34px
			height: 2px


@import "media" // Always at the end
